.bouncing {
  animation: bounce 1.2s;
  animation-delay: 0.6s;
  // animation-direction: alternate;
  background-color: #607D8B;
  color: white;
}

@keyframes bounce {

  15% {
    transform:translateY(-20%);
  }
  25% {
    transform:translateY(0%);
  }
  50% {
    transform:translateY(-15%);
  }
  70% {
      transform:translateY(0%);
  }
  80% {
    transform:translateY(-15%);
  }
  90% {
    transform:translateY(0%);
  }
  95% {
    transform:translateY(-7%);
  }

  100% {
    transform:translateY(0);
    opacity: 1;
  }
}


.sliding-right {
  animation: slidein-right 1s 2;
  animation-delay: 0.6s;
  animation-direction: alternate;
  .left-arrow:after, .right-arrow:after {
    border-color: transparent;
  }
  .left-arrow:before, .right-arrow:before {
    border-color: transparent;
  }
}
@keyframes slidein-right {
  from {
    margin-left: 0%;
    width: 100%;
    opacity: 1;
  }

  to {
    margin-left: 100%;
    width: 100%;
    opacity: 0;
    // max-height: 50px;
    background-color: #f3f2ed;

  }
}

.sliding-left {
  animation: slidein-left 1s 2;
  animation-delay: 0.6s;
  animation-direction: alternate;
  .left-arrow:after, .right-arrow:after {
    border-color: transparent;
  }
  .left-arrow:before, .right-arrow:before {
    border-color: transparent;
  }
}
@keyframes slidein-left {
  from {
    margin-left: 0%;
    width: 100%;
    opacity: 1;
  }

  to {
    margin-left: -100%;
    width: 100%;
    opacity: 0;
    // max-height: 50px;
    background-color: #f3f2ed;
  }
}

.sliding-up {
  animation: slidein-up 2s;
  animation-delay: 0.6s;
  animation-direction: alternate;

}
@keyframes slidein-up {
  0% {
    margin-top: 0;
    height: 100%;
    opacity: 1;
  }
  10% {
    opacity: 0.2;
    background-color: #f3f2ed;
  }

  50% {
    margin-top:100vh;
    height: 100%;
    opacity: 0;
    // max-height: 50px;
    background-color: #f3f2ed;

  }
  90% {
    opacity: 0.2;
    background-color: white;
  }
  100% {
    margin-top: 0;
    height: 100%;
    opacity: 1;
  }
}
